<sp-tp-progress title-label="Simula tu CDT" step-label="Paso 1 de 6" subtitle="Completa la información para realizar la simulación de tu CDT" progress-percentage="20">
    <div class="blanco">
        <sp-ml-slider editable step=1 max=4200000 min=1500000 value=4200000 status="ENABLED" message="Mensaje de error"></sp-ml-slider>

        <sp-ml-multi-selector (cardClicked)="click($event)" label="Selecciona como quieres simular tu plazo"
                               values-to-card='[{"desc": "Días","value": "0", "isChecked": "false" },{ "desc": "Meses","value": "1","isChecked": "false"}]'></sp-ml-multi-selector>

        <p  *ngIf="mostrar" class="sp-text-label-2" style="color: var(--sp-color-foreground-secondary)">Selecciona los {{diasMeses}}</p>
        <sp-ml-chip-selector
               *ngIf="mostrar" [selectionValues]='opcion'></sp-ml-chip-selector>

        <button (clickButton)= "continue($event)" class='sp-at-btn sp-at-btn--primary sp-at-btn--lg '  >Continuar</button>
    </div>
</sp-tp-progress>
